* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}
.container {
    position: relative;
    width: 100%;
    margin: auto;
    background-color: rgb(240,240,240);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    padding-top: 104px;
    padding-bottom: 103px;
}
#activator {
    border: 0;
    padding: 5px 15px 5px 15px;
    background-color: rgb(200,200,200);
    border-radius: 5px;
}
.modal {
    position: fixed;
    z-index: 7;
    width: 100%;
    height: 110vh;
    display: none;
    justify-content: center;
    align-items: center;
}
.modal-content {
    position: fixed;
    z-index: 2;
    width: 70%;
    height: 400px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    background-color: white;
    border-radius: 5px;
    padding: 30px 10px 30px 10px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.modal-cards {
    display: grid;
    grid-template-columns: repeat(7,1fr);
    position: relative;
}
.modal-weather {
    transition: ease 0.5s;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-right: 5px solid rgb(100,100,100);
    position: relative;
    z-index: 1;
    background-color: rgba(0,0,0,0.5);
    color: white;
    padding: 10px 0px 10px 0px;
}
.modal-weather:nth-child(7) {
    border: none;
}
.cityname {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
.temperature {
    font-size: 27px;
    font-weight: bold;
}
#closeBtn {
    position: absolute;
    right: 10px;
    top: 10px;
    color: rgb(160,160,160);
    cursor: pointer;
}
#closeBtn:hover {
    border: 2px solid rgb(160,160,160);
    padding: 3px;
    border-radius: 20%;
}
.header {
    width: 100%;
    background-color: rgb(250,250,250);
}
.header-container {
    width: 50%;
    margin: 0 auto;
    padding: 15px 0px 15px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#wr-weather-logo--en {
    width: 150px;
}
.search {
    width: 80%;
    background-color: white;
}
.search input{
    border: 0;
    height: 50px;
    width: 94%;
}
.search i {
    cursor: pointer;
}
.search input:focus{
    outline: none;
}
.cities {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 50px;
}
.city {
    width: 95%;
    height: 300px;
    border-radius: 10%;
    position: relative;
    z-index: 5;
    overflow: hidden;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    transition: ease 0.4s;
    cursor: pointer;
}
.blur {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    border-radius: 10%;
    background-color: rgba(0,0,0,0.6);
    transition: ease 0.4s;
}
.city:hover{
    transition: ease 0.4s;
    transform: scale(1.02);
}
.city-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: absolute;
    z-index: 5;
}
.cities .max, .cities .min {
    font-size: 18px;
}
.modal .max, .modal .min {
    font-size: 17px;
}


@keyframes appear {
    0% {
        top: -500px;
        opacity: 0;
    }
    50% {
        top: -250px;
        opacity: 0;
    }
    75% {
        top: 500px;
    }
    100% {
        top: 270px;
        opacity: 1;
    }
}
@keyframes disappear {
    0% {
        top: 270px;
    }
    50% {
        top: 500px;
    }
    75% {
        top: -250px;
    }
    100% {
        top: -500px;
    }
}